/* listing css starts */
.side_bar_main_wrap {
  background-color: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 0;
  height: 100%;
}
.cars.data h3 {
  margin-left: 0 !important;
  margin-bottom: 10px !important;
}
.blue_btn.list_btn.categories {
  width: 44%;
  justify-content: center;
}
/* listing css ends */
/* chat css starts */
.chats_btn_wrap_main {
  background-color: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  height: 100%;
}
.chats_btn_wrap_main h5.chat_heading {
  background-color: #2d4495;
  color: #fff;
  padding: 20px 15px;
  border-radius: 10px 10px 0 0;
}
.chats_btn_wrap_main .chat_btns_wrap {
  padding: 20px 15px;
}
.chat_messages_main_wrap {
  background-color: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  height: 100%;
  overflow-y: auto;
}
.chat_messages_main_wrap .btn-primary:hover {
  box-shadow: unset;
  background-color: #2d4495;
  color: #fff;
}
.title_wrap {
  background-color: #2d4495;
  color: #fff;
  padding: 20px 15px;
  border-radius: 10px 10px 0 0;
}
.title_wrap h5 {
  color: #fff;
  margin-bottom: 0;
}
/* chat css ends */
.more_choice_main_list .form-check {
  margin-bottom: 0.5rem !important;
}
.dash-listingcontent,
.bookmarks-content,
.dashboard-info {
  margin-bottom: 50px;
}
.listing-table .cat-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}
.notification_css {
  position: absolute;
  top: 112px;
  /* bottom: 0; */
  z-index: 2;
}
.messages-form .select__value-container {
  padding: 0 15px;
}
.messages-form .select__input-container {
  padding: 0;
  margin: 0;
}
.profileinner_container img {
  object-position: top;
}
.filter_card_main .head2btflex {
  margin-top: 0 !important;
}
.filter_card_main .head2btflex .blue_btn,
.filter_card_main .head2btflex .sign-in-button {
  margin-top: 0 !important;
}
.filter_card_inner_wrap_block {
  padding: 20px 20px;
  background-color: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  height: 100%;
}
.filter_card_main_wrap .card {
  border-bottom: 1px solid #e5e5e5 !important;
  box-shadow: unset !important;
  border-radius: 0 !important;
  padding: 20px 0 !important;
}
.filter_innerwrap .input_feild.search_by_keyword {
  padding-right: 40px !important;
}
.filter_card_main .title_head a {
  text-wrap: trim-end;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 400px;
}
@media screen and (max-width: 1366px) {
  .user_profile_block p {
    margin-top: 10px !important;
  }
  .filter_card_main .card-body .user_profile_block {
    bottom: 60px;
  }
  .filter_card_main p.car_desc {
    width: 300px;
  }
}
@media screen and (max-width: 1024px) {
  .filter_card_main p.car_desc {
    height: 27px;
  }
  .filter_card_main_wrap .card-img {
    height: 275px !important;
  }
  .filter_card_main .head2btflex {
    margin-top: 10px !important;
  }
  .blue_btn.list_btn {
    font-size: 14px;
    padding: 12px 14px;
  }
}
@media screen and (max-width: 991px) {
}
@media screen and (max-width: 767px) {
  .filter_card_main p.car_desc {
    width: auto;
    height: auto;
  }
  .filter_card_main .head2btflex {
    margin-top: 10px !important;
  }
}
@media screen and (max-width: 480px) {
  .parent-main.category {
    margin-top: 7rem !important;
  }
  .blue_btn.list_btn {
    width: auto !important;
  }
  .blue_btn.list_btn svg {
    margin: 0 !important;
  }
  .blue_btn.list_btn span {
    display: none !important;
  }
}
