/* listing css starts */
.side_bar_main_wrap {
  background-color: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 0;
  height: calc(100% - 88px);
}
.chats_btn_wrap_main {
  background-color: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  height: 100%;
}
.chats_btn_wrap_main h5.chat_heading {
  background-color: #2d4495;
  color: #fff;
  padding: 20px 15px;
  border-radius: 10px 10px 0 0;
}
.chats_btn_wrap_main .chat_btns_wrap {
  padding: 20px 15px;
}
.cars.data h3 {
  margin-left: 0 !important;
  margin-bottom: 10px !important;
}
.blue_btn.list_btn.categories {
  width: 44%;
  justify-content: center;
}
/* listing css ends */
@media screen and (max-width: 1366px) {
  .user_profile_block p {
    margin-top: 10px !important;
  }
  .filter_card_main .card-body .user_profile_block {
    bottom: 60px;
  }
  .filter_card_main p.car_desc {
    width: 300px;
  }
}
@media screen and (max-width: 1024px) {
  .filter_card_main_wrap .card-img {
    height: 100% !important;
  }
}
@media screen and (max-width: 480px) {
  .parent-main.category {
    margin-top: 7rem !important;
  }
}
